head
  title Modificar Bioquimico
include includes/header
body
  .container
    h1.link-custom Información del Bioquímico

    form(action="/guardarCambios", method="post")
      .form-group
        label(for="id" class="link-custom") ID
        input.form-control(type="text", name="id", value=bioquimico.id, readonly)
        br
      .form-group
        label(for="contrasena" class="link-custom") Contraseña
        input.form-control(type="password", name="contrasena", value=bioquimico.contrasena)
        br

      .form-group
        label(for="email" class="link-custom") Email
        input.form-control(type="email", name="email", value=bioquimico.email)
        br

      .form-group
        label(for="nombre" class="link-custom") Nombre
        input.form-control(type="text", name="nombre", value=bioquimico.nombre)
        br

      .form-group
        label(for="apellido" class="link-custom") Apellido
        input.form-control(type="text", name="apellido", value=bioquimico.apellido)
        br

      .form-group
        label(for="dni" class="link-custom") DNI
        input.form-control(type="text", name="dni", value=bioquimico.dni)
        br

      .form-group
        label(for="matricula" class="link-custom") Matrícula
        input.form-control(type="text", name="matricula", value=bioquimico.matricula)
        br

      .form-group
        label(for="fechaNacimiento" class="link-custom") Fecha de Nacimiento
        input.form-control(type="date", name="fechaNacimiento", value=bioquimico.fechaNacimiento.toISOString().split('T')[0])
        br

      .form-group
        label(for="genero" class="link-custom") Género
        input.form-control(type="text", name="genero", value=bioquimico.genero)
        br

      .form-group
        label(for="telefono" class="link-custom") Teléfono
        input.form-control(type="text", name="telefono", value=bioquimico.telefono)
        br

      .form-group
        label(for="rol" class="link-custom") Rol
        input.form-control(type="text", name="rol", value=bioquimico.rol)
        br

      .form-group
        label(for="direccion" class="link-custom") Dirección
        input.form-control(type="text", name="direccion", value=bioquimico.direccion)
        br

      .form-group
        button.btn.btn-custom(type="submit") Guardar Cambios
